extends ../layout/index

block formulario
    section(class="successCreated")
        h1.successCreated__h1 El Producto se guardo Correctamente
        a(href="registroProducto" class="successCreated__a") Volver atras